<div class="home">
  <h2>Home (Home work 3)</h2>
  <div><app-swiftnevbar></app-swiftnevbar></div>
  <div>
    <p>We are a community based help service!</p>
    <p>
      Our product solves the problem with the lack of fast, context-specific and
      most importantly - untampered help out there.
    </p>
    <p>
      We solve that problem for our users by providing them an instant and
      specific help from people that may have already walked the same part and
      bought the same product.
    </p>
    <p>
      So next time, when you visit a site and you can't find a review or an
      answer that satisfies you information needs, you can open up our chat
      widget and ask a non-formal question to one of our helpers
    </p>
    <button class="button">Try it free</button>
    <button class="button">Sign up</button>
  </div>
  <br />
  <div><app-swiftsearchbar></app-swiftsearchbar></div>
  <br />
  <div><app-swiftbanner></app-swiftbanner></div>
</div>
