<!-- Lab -->
<!-- <div><app-home [title]="'Home component 1'"></app-home></div> -->
<!--Practice 10-->
<div><app-count></app-count></div>
<!--Practice 11-->
<div><app-lab4></app-lab4></div>
<!-- Practice 13 -->
<!-- Home Work -->
<div><app-home></app-home></div>
<div><app-navbar></app-navbar></div>
<!-- <div class="searchbar"><app-searchbar></app-searchbar></div> -->
<div class="topbanner"><app-topbanner></app-topbanner></div>
<div class="categorymenu"><app-categorymenu></app-categorymenu></div>
<div><app-to-do-list></app-to-do-list></div>
<div><app-swifthome></app-swifthome></div>
<!-- <div><app-swiftnevbar></app-swiftnevbar></div> -->
<!-- <div><app-swiftsearchbar></app-swiftsearchbar></div> -->
<!-- <div><app-swiftbanner></app-swiftbanner></div> -->
