div {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: green;
}

.number-even {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(2, 252, 2);
}

.number-odd {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: red;
}

ul {
  list-style-type: none;
}
